<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        计算属性的优点：
            做了缓存，每取一次数据不需要重新调用函数；缓存做了之后，在vm身上有了一个属性，由getter计算的来
                - 当第一次加载时，getter加载一次
                - 当计算属性依赖的数据发生改变时，getter会调用一次
            注意：
                在对setter定义时，一定要将计算属性依赖的数据进行修改
     -->
    <div id="root">
        <input type="text" v-model="firstname">
        <input type="text" v-model="lastname">
        <p>{{fullname}}</p>
    </div>
    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el:'#root',
            data:{
                firstname:'shi',
                lastname:'yixi',
                fullname:'shi-yixi'
            },
            // computed:{
            //     fullName:{
            //         // vm对getter进行了设计，将其this指向为vm实例
            //         get(){
            //             return this.firstname + '-' + this.lastname;
            //         },
            //         set(value){
            //             const arr = value.split('-')
            //             this.firstname = arr[0]
            //             this.lastname = arr[1]
            //         }
            //     }
            // }
            watch:{
                firstname(val){
                    // 这里可以处理除了赋值之外的工作，这是与计算属性最大的区别
                    setTimeout(()=>{
                        this.fullname = val + '-'+ this.lastname
                    },1000)
                },
                lastname(val){
                    this.fullname = this.firstname + '-' + val
                }
            }
        })
    </script>
</body>
</html>