<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" placeholder="请输入姓名字段" v-model="keyWord">
        <button @click="sortType = 0">原顺序</button>
        <button @click="sortType = 1">升序排序</button>
        <button @click="sortType = 2">降序排序</button>
        <br>
        <ul>
            <li v-for="(p,index) in CurPersons" :key="p.id">
                {{p.name}} --- {{p.age}} --- {{p.gender}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false;
        new Vue({
            el:'#root',
            data:{
                sortType:0,  // 0表示原顺序 1表示升序 2表示降序
                keyWord:'',
                Persons:[
                    {name:'马冬梅',age:18,gender:'female'},
                    {name:'周冬雨',age:33,gender:'female'},
                    {name:'周杰伦',age:22,gender:'male'},
                    {name:'韦罗伦',age:19,gender:'male'},
                ],
            },
            computed:{
                CurPersons(){
                    const personsList = this.Persons.filter((item)=>{
                        return item.name.indexOf(this.keyWord) !== -1
                    })
                    if(this.sortType){
                        personsList.sort((a,b)=>{
                            return this.sortType === 1 ? a.age-b.age : b.age-a.age
                        })
                    }
                    return personsList
                }
            },
        })
        
    </script>
</body>
</html>